* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header div {
    font-size: 28px;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .header div {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .header div {
        font-size: 16px;
        align-self: center;
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu a {
    text-decoration: none;
    font-size: 18px;
}

@media screen and (max-width: 1024px) {
    .menu a {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }
}

.search__input {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

.hero__section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    column-gap: 20px;
    padding: 20px;
}

.cta__button {
    background-color: black;
    color: white;
    padding: 5px;
    min-width: 120px;
    max-width: 180px;
    border: none;
    cursor: pointer;
}

.main__section {
    display: grid;
    grid-template-columns: 1.5fr repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    max-width: 100%;
    justify-content: center;
}

.main__section img {
    max-width: 100%;
    height: auto;
    display: block;
}

.product:first-child {
    grid-row: 1/-1;
}

@media screen and (max-width: 1024px) {
    .main__section {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1.5fr repeat(3, 1fr);
    }

    .product:first-child {
        grid-row: 1/2;
        grid-column: 1/-1;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header div {
        margin-top: 20px;
    }

    .menu a {
        padding: 10px;
    }

    .hero__section {
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: center;
    }

    .cta__button {
        margin-top: 20px;
        padding: 5px;
        min-width: 120px;
        max-width: 180px;
        order: 3;
        justify-self: center;
    }

    .main__section {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .main__section p {
        display: none;
    }

}