* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    border: 4px solid black;
    border-radius: 5px;
    width: 550px;
    height: 600px;
}

.header {
    display: flex;
    border-bottom: 4px solid black;
    height: 50px;
}

.menu {
    display: flex;
    gap: 15px;
}

.search__input {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}