* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu a {
    text-decoration: none;
}

.search__input {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

.hero__section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    column-gap: 20px;
    padding: 20px;
}

.cta__button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: auto;
}

.main__section {
    display: grid;
    grid-template-columns: 1.5fr repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    max-width: 100%;
    justify-content: center;
}

.main__section img {
    max-width: 100%;
    height: auto;
    display: block;
}

.product:first-child {
    grid-row: 1/-1;
}

@media screen and (max-width: 1024px) {
    .main__section {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1.5fr repeat(3, 1fr);
    }

    .product:first-child {
        grid-row: 1/2;
        grid-column: 1/-1;
    }
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu a {
        padding: 10px;
    }

    .hero__section {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .main__section {
        grid-template-columns: repeat(2, 1fr);
    }
}