* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    border: 4px solid black;
    border-radius: 5px;
    width: 600px;
    height: 600px;
    overflow: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid black;
    height: 50px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu a {
    text-decoration: none;
}

.search__input {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

.hero__section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    column-gap: 20px;
    padding: 20px;
}

.cta__button {
    background-color: black;
    color: white;
    align-self: flex-end;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.main__section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
    max-width: 100%;
    justify-content: center;
}

.main__section img {
    max-width: 100%;
    height: auto;
    display: block;
}